@inherits LayoutComponentBase
@using BlazorWithTailwindcss.Components.UI


<div class="flex min-h-screen flex-col bg-background text-foreground">
    
    <NavMenu />
    <main class="flex-grow"> @Body</main>
    <Footer />
</div>
           